fastapi==0.111.1
uvicorn[standard]==0.23.2
python-dotenv==1.0.1
python-multipart==0.0.6
aiofiles==23.1.0
langchain==0.1.20
langchain-groq==0.3.8
langchain-community==0.1.9
langchain-huggingface==0.0.7
faiss-cpu==1.7.4
transformers==4.30.2
sentence-transformers==2.2.2
pypdf==3.14.0
